body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container {
    width: 960px;
    height: 960px;
    border: 1px solid;
}

.elements:hover {
    background-color: grey;
}

#gridButton {
    width: 200px;
    height: 50px;
}